body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.2mm;
    background-color: rgb(230, 230, 230);
}

body div#content {
    padding: 18mm 5mm;
    padding-bottom: 5mm;
}

body div#content button {
    font-size: 3.2mm;
}

/* Page Tarefas */

div#interfaceTarefas {
    padding: 8mm 5mm;
    padding-bottom: 5mm;
    background-color: rgb(140, 175, 190);
    border: solid rgb(75, 100, 120) 0.8mm;
}

div#interfaceTarefas::before {
    content: "Tarefas";
    font-size: 7mm;
    font-weight: bold;
    padding: 2mm 5mm;
    background-color: rgb(230, 230, 230);
    border: solid rgb(75, 100, 120) 0.8mm;
    border-radius: 3mm;
    position: absolute;
    top: 11mm;
}