body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.2mm;
}

body div#content {
    padding: 18mm 5mm;
}

body div#content button {
    font-size: 3.2mm;
}

/* Page Home */

div#interfaceTarefas {
    border: solid rgb(0, 0, 0) 1mm;
    border-radius: 3mm;
    padding: 8mm 5mm;
}

div#interfaceTarefas::before {
    content: "Tarefas";
    font-size: 8mm;
    font-weight: bold;
    padding: 0mm 5mm;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 1mm;
    border-radius: 3mm;
    position: absolute;
    top: 13mm;
}

div#interfaceTarefas button {
    margin: 2mm 5mm;
    padding: 2mm 5mm;
    border-radius: 5mm;
    cursor: pointer;
}

div#interfaceTarefas input {
    margin: 2mm 5mm;
    padding: 2mm 5mm;
    border-radius: 2mm;
    cursor: pointer;
}

div#interfaceTarefas input#checkbox {
    margin: 0mm auto;
    padding: 0mm;
}

div#interfaceTarefas input#checkbox::before {
    content: "";
    margin: 0mm;
    padding: 2px;
    width: 13px;
    height: 13px;
    background-color: rgb(95, 95, 95);
    position: absolute;
}

div#interfaceTarefas input#checkbox:hover::before {
    content: "";
    margin: 0mm;
    padding: 2px;
    width: 13px;
    height: 13px;
    background-color: rgb(30, 30, 30);
    position: absolute;
}

div#interfaceTarefas input#checkbox:checked::before {
    content: "X";
    margin: 0mm;
    padding: 2px;
    width: 13px;
    height: 13px;
    background-color: rgb(0, 105, 255);
    color: rgb(255, 255, 255);
    position: absolute;
}

div#interfaceTarefas button#addTarefas {
    background-color: rgb(40, 240, 0);
    border: solid rgb(40, 240, 0) 1mm;
}

div#interfaceTarefas button#addTarefas:hover {
    background-color: rgb(40, 240, 0);
    border: solid rgb(30, 30, 30) 1mm;
}

/* Adicionar Tarefas */
div#interfaceTarefas form#addForm {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    position: fixed;
    top: 0mm;
    left: 0mm;
    display: none;
}

div#interfaceTarefas form#addForm button#closeTarefas {
    position: absolute;
}

div#interfaceTarefas form#addForm div {
    width: 75%;
    margin: 15mm auto;
    margin-bottom: 0mm;
    padding: 15mm 8mm;
    padding-bottom: 0mm;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 1mm;
    border-radius: 3mm;
    text-align: center;
}

div#interfaceTarefas form#addForm div::before {
    content: "Adcionar Tarefa";
    font-size: 8mm;
    font-weight: bold;
    padding: 0mm 5mm;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 1mm;
    border-radius: 3mm;
    position: absolute;
    top: 10mm;
}


div#interfaceTarefas input#pesquisar {
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0) 1mm;
}

div#interfaceTarefas table {
    margin: 0mm auto;
    margin-top: 5mm;
}

div#interfaceTarefas table tr#lineTitle {
    border-top: solid rgb(0, 0, 0) 1mm;
}

div#interfaceTarefas table tr.lineFeito {
    background-color: rgb(40, 240, 0);
}

div#interfaceTarefas table tr {
    display: inline-flex;
    text-align: center;
    border-left: solid rgb(0, 0, 0) 1mm;
    white-space: pre-wrap;
}

div#interfaceTarefas table tr th {
    font-weight: bold;
    border-right: solid rgb(0, 0, 0) 1mm;
    border-bottom: solid rgb(0, 0, 0) 1mm;
    padding: 2mm 2mm;
    margin-top: -1mm;
    margin-left: -1mm;
}

div#interfaceTarefas table tr td {
    font-size: 2.8mm;
    border-right: solid rgb(0, 0, 0) 1mm;
    border-bottom: solid rgb(0, 0, 0) 1mm;
    padding: 2mm 2mm;
    margin-left: -1mm;
}

div#interfaceTarefas .feito {
    width: 10mm;
}

div#interfaceTarefas .title,
div#interfaceTarefas .title {
    width: 55mm;
}

div#interfaceTarefas .description,
div#interfaceTarefas .description {
    width: 77mm;
}

div#interfaceTarefas .createData,
div#interfaceTarefas .createData {
    width: 31mm;
}

div#interfaceTarefas .pData,
div#interfaceTarefas .pData {
    width: 31mm;
}

div#interfaceTarefas .eData,
div#interfaceTarefas .eData {
    width: 31mm;
}

div#interfaceTarefas .edit,
div#interfaceTarefas .edit {
    width: 13mm;
}

div#interfaceTarefas .remove,
div#interfaceTarefas .remove {
    width: 13mm;
}

div#interfaceTarefas #vazio {
    color: rgb(255, 0, 0);
    font-weight: bold;
}