body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.2mm;
    background-color: rgb(230, 230, 230);
}

body div#content {
    padding: 18mm 5mm;
    padding-bottom: 5mm;
}

body div#content button {
    font-size: 3.2mm;
}

/* Page Tarefas */

div#interfaceTarefas {
    padding: 8mm 5mm;
    padding-bottom: 5mm;
    background-color: rgb(140, 175, 190);
    border: solid rgb(75, 100, 120) 0.8mm;
}

div#interfaceTarefas::before {
    content: "Tarefas";
    font-size: 7mm;
    font-weight: bold;
    padding: 2mm 5mm;
    background-color: rgb(230, 230, 230);
    border: solid rgb(75, 100, 120) 0.8mm;
    border-radius: 3mm;
    position: absolute;
    top: 11mm;
}

div#interfaceTarefas input,
div#interfaceTarefas button,
div#interfaceTarefas select,
div#interfaceTarefas textarea {
    font-weight: bold;
    padding: 2mm 5mm;
    border: solid rgb(75, 100, 120) 0.8mm;
    border-radius: 3mm;
}

div#interfaceTarefas input#Pesquisar,
div#interfaceTarefas input#PesquisarDate {
    float: left;
}

div#interfaceTarefas select {
    float: right;
}

div#interfaceTarefas form#form {
    margin-top: 8mm;
}

div#interfaceTarefas form#form div {
    display: flex;
}

div#interfaceTarefas form#form div button {
    width: 60mm;
}

div#interfaceTarefas form#form div button#addTarefa {
    background-color: rgb(0, 255, 0);
    border: solid rgb(0, 255, 0) 0.8mm;
}

div#interfaceTarefas form#form div button#addTarefa:hover {
    border: solid rgb(0, 0, 0) 0.8mm;
}

div#interfaceTarefas form#form div button#terminarTarefa {
    margin: 0mm auto;
    background-color: rgb(0, 0, 255);
    border: solid rgb(0, 0, 255) 0.8mm;
}

div#interfaceTarefas form#form div button#terminarTarefa:hover {
    border: solid rgb(0, 0, 0) 0.8mm;
}

div#interfaceTarefas form#form div button#deletarTarefa {
    background-color: rgb(255, 0, 0);
    border: solid rgb(255, 0, 0) 0.8mm;
}

div#interfaceTarefas form#form div button#deletarTarefa:hover {
    border: solid rgb(0, 0, 0) 0.8mm;
}

div#interfaceTarefas form#form table {
    width: 100%;
    margin: 8mm 0mm;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

div#interfaceTarefas form#form table tr th {
    background-color: rgb(75, 100, 120);
}

div#interfaceTarefas form#form table tr.line td {
    background-color: rgb(230, 230, 230);
}

div#interfaceTarefas form#form table tr.lineFeita td {
    background-color: rgb(0, 255, 0);
}

div#interfaceTarefas form#form table tr.lineExpired td {
    background-color: rgb(255, 0, 0);
}

div#interfaceTarefas form#addForm {
    display: block;
}

div#interfaceTarefas form#editForm {
    display: block;
}