body div#interfaceTarefas {
    margin: 8mm;
    margin-top: 15mm;
    padding: 5mm;
    padding-top: 13mm;
    border: solid rgb(0, 0, 0) 1mm;
    border-radius: 3mm;
}

body div#interfaceTarefas::before {
    content: "Tarefas";
    font-size: 8mm;
    padding: 0mm 3mm;
    border: solid rgb(0, 0, 0) 1mm;
    border-radius: 2mm;
    position: absolute;
    top: 10mm;
    background-color: rgb(255, 255, 255);
}

/* Buttons */
body div#interfaceTarefas button {
    margin: 0mm 3mm;
}

body div#interfaceTarefas button#addTarefas {
    padding: 2mm 5mm;
    border-radius: 3mm;
    background-color: rgb(100, 223, 0);
    border: solid rgb(100, 223, 0) 1mm;
    cursor: pointer;
}

body div#interfaceTarefas button#addTarefas:hover {
    padding: 2mm 5mm;
    border-radius: 3mm;
    background-color: rgb(100, 223, 0);
    border: solid rgb(32, 32, 32) 1mm;
    cursor: pointer;
}

body div#interfaceTarefas button#addPesquisar {
    padding: 2mm 5mm;
    border-radius: 3mm;
    background-color: rgb(0, 90, 223);
    border: solid rgb(0, 90, 223) 1mm;
    cursor: pointer;
}

body div#interfaceTarefas button#addPesquisar:hover {
    padding: 2mm 5mm;
    border-radius: 3mm;
    background-color: rgb(0, 90, 223);
    border: solid rgb(32, 32, 32) 1mm;
    cursor: pointer;
}


/* Table */
body div#interfaceTarefas table {

}

#feito {
    width: 15mm;
}

#title {
    width: 70mm;
}

#description {
    width: 80mm;
}

#createData {
    width: 35mm;
}

#pData {
    width: 35mm;
}

#edit {
    width: 15mm;
}

#remove {
    width: 15mm;
}