body {
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body table {
    margin: 8mm auto;
    margin-bottom: 0mm;
}

body table tr#lineTitle {
    display: flex;
    border-top: solid rgb(0, 0, 0) 1mm;
    border-left: solid rgb(0, 0, 0) 1mm;
}

body table tr {
    display: flex;
    border-left: solid rgb(0, 0, 0) 1mm;
}

body table tr th{
    margin-top: -0.6mm;
    margin-left: -0.6mm;
    padding: 2mm;
    border-right: solid rgb(0, 0, 0) 1mm;
    border-bottom: solid rgb(0, 0, 0) 1mm;
}
body table tr td {
    margin-top: -0.6mm;
    margin-left: -0.6mm;
    padding: 2mm;
    border-right: solid rgb(0, 0, 0) 1mm;
    border-bottom: solid rgb(0, 0, 0) 1mm;
}